/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.ttf") format("opentype"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.ttf") format("opentype"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "LetoSans";
  src: url("../fonts/LetoSans.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "LetoSans";
  src: url("../fonts/LetoSans-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "LetoSans";
  src: url("../fonts/LetoSans-Thin.otf") format("opentype");
  font-weight: 100;
}
body {
  font-family: "LetoSans";
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url(../img/main_end.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 9;
}
.aside {
  width: 50%;
  height: 100%;
  padding: 20px 0 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
.logo-text {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}
.aside-card {
  margin: 0 auto;
}
.img-cont {
  width: 370px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.45);
  background-image: url(..//img/loremcard.png);
  background-size: cover;
}
.aside-about {
  width: 370px;
  margin-top: 30px;
  text-align: center;
}
.aside-about-text {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  width: 33%;
  padding-bottom: 10px;
}
.footer-link {
  color: #fff;
  border-bottom: 1px #969696 solid;
  font-size: 14px;
  transition: 0.3s;
}
.footer-link:hover {
  color: #ff5e89;
  border-bottom: 1px #ff5e89 solid;
}
.link-desc {
  padding-top: 3px;
  display: block;
  color: #969696;
  font-size: 12px;
  font-weight: bold;
}
.footer-link-lang-ch {
  margin-left: 40px;
}
.footer-link-lang-en::after,
.footer-link-lang-ch::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 7px;
}
.footer-link-lang-en::after {
  background-image: url(../img/enflag.png);
  background-size: cover;
}
.footer-link-lang-ch::after {
  background-image: url(../img/chflag.png);
  background-size: cover;
}
.main {
  width: 50%;
  margin-left: 50%;
  position: absolute;
  z-index: 10;
}
.block-title,
.block-edge,
.block-present,
.block-pay,
.block-services {
  background-color: #fff;
}
.block-title {
  width: 100%;
  height: 100vh;
  padding: 130px 130px 0 130px;
}
.title {
  font-size: 52px;
  color: #bb0032;
  font-weight: bold;
}
.subtitle {
  padding-top: 15px;
  font-size: 22px;
  color: #3c3c3c;
  font-weight: bold;
}
.order-button {
  display: block;
  width: 192px;
  padding: 15px 0;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  background: linear-gradient(#ca384d 0%, #9d0229 100%);
  border-radius: 15px;
  transition: 0.4s;
}
.order-button:hover {
  width: 210px;
}
.arrow {
  display: block;
  width: 90px;
  height: 90px;
  margin: 70px auto 0 auto;
  background-image: url(..//icons/arrow.png);
  background-size: 50px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.4s;
}
.arrow:hover {
  background-size: 60px 34px;
}
.block-edge {
  padding: 70px 42px 65px 42px;
}
.edge-title {
  padding-bottom: 35px;
  font-size: 33px;
  font-weight: bold;
  color: #3c3c3c;
}
.edge-item {
  padding: 0 10px 30px 80px;
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: 0 1px;
}
.edge-item1 {
  background-image: url(..//icons/icon1.png);
}
.edge-item2 {
  background-image: url(..//icons/icon2.png);
}
.edge-item3 {
  background-image: url(..//icons/icon3.png);
}
.edge-item-title {
  padding-bottom: 7px;
  font-size: 21px;
  font-weight: bold;
  color: #3c3c3c;
}
.edge-item-desc {
  font-size: 14px;
  color: #969696;
}
.all-links {
  display: inline-block;
  border-bottom: 1px solid #4100aa4f;
  color: #4100aa;
  transition: 0.3s;
}
.all-links:hover {
  color: #c62d57;
  border-bottom: 1px solid #c62d5669;
}
.block-footer {
  padding-top: 10px;
  border-top: 1px solid #96969646;
}
.footer-text {
  font-size: 13px;
  color: #969696;
}
.sup {
  vertical-align: super;
  font-size: 10px;
}
.block {
  padding: 65px 220px 65px 80px;
}
.block-present {
  background-color: #f5f7fb;
  background-image: url(..//img/lorempresent.png);
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: 480px 7px;
  padding: 65px 220px 65px 80px;
}
.all-titles {
  font-size: 24px;
  font-weight: bold;
  color: #3c3c3c;
  padding-bottom: 30px;
}
.all-text {
  font-size: 17px;
  color: #3c3c3c;
}
.block-pay {
  padding: 65px 80px 440px 80px;
  background-image: url(..//img/lorempc.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center 370px;
}
.pay-text2 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.block-services {
  padding: 65px 80px 65px 80px;
  background-color: #f5f7fb;
}
.services-imgs {
  padding-top: 15px;
  display: flex;
}
.services-img {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 70px;
}
.services-img1 {
  background-image: url(../img/ApplePay.png);
}
.services-img2 {
  background-image: url(../img/GooglePay.png);
}
.services-img3 {
  width: 145px;
  background-size: 140px;
  background-image: url(../img/SamsungPay.png);
  background-position: 0 15px;
}
.services-img:nth-child(n + 2) {
  margin-left: 30px;
}
.block-form {
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  background-color: rgba(70, 22, 50, 0.4);
}
.form-title {
  font-size: 52px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 50px;
}
.form-group:nth-child(n + 2) {
  margin-top: 30px;
}
.field-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  color: #dadada;
}
.field,
.date {
  box-sizing: border-box;
  display: block;
  width: 400px;
  border: 2px solid #dadada98;
  border-radius: 7px;
  margin: 0;
  font-size: 13px;
  padding: 10px 20px;
  height: 50px;
  background-color: #ffffff;
}
.date {
  width: 200px;
}
.button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s;
}
.button-clear {
  background-color: transparent;
  color: #fff;
  margin-right: 5px;
}
.button-submit {
  color: #ffffff;
  background: linear-gradient(#ca384d 0%, #9d0229 100%);
}
.field:focus,
.button:focus,
.date:focus {
  outline: 2px solid #a43876;
  outline-offset: 4px;
}
.button:hover {
  background: linear-gradient(#ca384d 0%, #9d0229 100%);
}
.button-clear:hover {
  color: #ffffff;
}
.button-submit:hover {
  padding: 10px 40px;
}
.field,
.date,
.button {
  font-family: inherit;
}
.textarea {
  min-width: 400px;
  max-width: 400px;
  min-height: 100px;
  max-height: 250px;
}
.checkbox {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}
.checkbox-text {
  display: inline-block;
  font-size: 13px;
  color: #dadada;
}
.checkbox-text::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url(..//icons/checkbox-unchecked.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.checkbox:checked ~ .checkbox-text::before {
  background-image: url(..//icons/checkbox-checked.svg);
}
.checkbox:focus ~ .checkbox-text::before {
  outline: 2px solid #a43876;
  outline-offset: 2px;
}
@media (min-width: 1535px) {
  .img-cont {
    margin: 0 auto;
  }
  .aside-about {
    width: 440px;
  }
  .aside-about-text {
    font-size: 20px;
  }
  .footer-link {
    font-size: 20px;
  }
  .link-desc {
    font-size: 16px;
  }
  .block-title {
    padding: 200px 130px 0 130px;
  }
  .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 30px;
  }
  .order-button {
    width: 250px;
    font-size: 24px;
    padding: 25px 0;
    margin-top: 50px;
  }
  .order-button:hover {
    width: 290px;
  }
  .edge-item {
    background-size: 70px;
    padding-left: 90px;
  }
  .edge-title {
    font-size: 42px;
  }
  .edge-item-title {
    font-size: 30px;
  }
  .edge-item-desc {
    font-size: 18px;
  }
  .all-titles {
    font-size: 35px;
  }
  .all-text {
    font-size: 20px;
  }
  .block-present {
    background-position: 560px 7px;
  }
  .block-pay {
    background-position: center 420px;
  }
  .form-title {
    font-size: 60px;
  }
  .field-label {
    font-size: 19px;
  }
  .checkbox-text {
    font-size: 16px;
  }
  .button {
    font-size: 19px;
  }
}
@media (min-width: 1679px) {
  .block-title {
    padding: 230px 130px 0 130px;
  }
  .title {
    font-size: 69px;
  }
}
@media (min-width: 1919px) {
  .img-cont {
    width: 640px;
    height: 400px;
    border-radius: 20px;
  }
  .aside-about {
    width: 640px;
  }
  .aside-about-text {
    font-size: 29px;
  }
  .footer-link {
    font-size: 23px;
  }
  .link-desc {
    font-size: 19px;
  }
  .block-title {
    padding: 250px 130px 0 130px;
  }
  .title {
    font-size: 80px;
  }
  .subtitle {
    font-size: 40px;
  }
  .order-button {
    width: 300px;
    font-size: 28px;
    padding: 30px 0;
    margin-top: 70px;
    border-radius: 20px;
  }
  .order-button:hover {
    width: 350px;
  }
  .edge-item {
    background-size: 90px;
    padding-left: 120px;
  }
  .edge-title {
    font-size: 53px;
  }
  .edge-item-title {
    font-size: 39px;
  }
  .edge-item-desc {
    font-size: 18px;
  }
  .block-present {
    background-position: 760px 7px;
  }
  .block-pay {
    background-position: center 380px;
  }
}
@media (max-width: 1100px) {
  .block-title {
    padding: 200px 40px 0 40px;
  }
  .block-present {
    background-position: 320px 47px;
  }
  .block-pay {
    background-position: center 430px;
    background-size: 470px;
  }
}
